@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.about {
  padding: 0.5rem;
  &__company {
    font-weight: 600;
  }
  &__journaling-image {
    width: 10rem;
    height: auto;
  }
}
