@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.journal {
  display: flex;
  flex-direction: column;
  &__divider {
    height: 0.125rem;
    background: linear-gradient(to right, #ff758c, #fad0c4);
    margin: 32px 0;
    border-radius: 0.3125rem;
  }
  &__entry {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    @include tablet {
      padding: 0 51.2px;
    }
  }
  &__input {
    width: 90%;
    border: 0.125rem solid blue;
    height: 15vh;
    margin-left: 16px;
    font-family: monospace;
    padding: 16px 0 0 16px;
    border-radius: 0.375rem;
    @include tablet {
      width: 85%;
      height: 20vh;
      margin: 0 auto;
      padding-left: 6.4px;
      font-size: 0.94rem;
    }
    @include desktop {
      width: 68%;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    margin: 0 auto;
    font-weight: 600;
    font-style: italic;
    color: blue;
  }
  &__button {
    background-color: blue;
    font-family: monospace;
    color: white;
    width: 50%;
    margin: 8px auto;
    padding: 6.4px 0;
    border-radius: 14.4px;
    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }

    &:active {
      background-color: #031e39;
      transform: scale(0.95);
    }
    @include tablet {
      width: 30%;
    }
  }
}
