@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/variables" as *;

body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  @include tablet{
    font-size:1.25rem;
  }
}

html{
  background-color: rgba(245, 19, 128, 0.147);
}