@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.mood {
  display: flex;
  flex-direction: column;

  &__reflect {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  &__prompt {
    text-align: center;
  }
}

a {
  text-decoration: none;
}

.playlist {
  &__mood {
    padding-left: 1rem;
    @include tablet {
      margin: 0 auto;
    }
  }
}
