@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.waterintake-form{
    &__button{
        background-color: rgb(240, 85, 155);
      font-family: monospace;
      color: white;
      width: 20%;
      margin: 0.5rem auto;
      padding: 0.4rem;
      border-radius: 0.9rem;
      border: 1px solid black;
      @include tablet {
        width: 10%;
      }
    }
}
.waterintake-bottle{
display:flex;
&__image {
  width: 210px;
  height: 250px;
}
}